
.bs-header{
	padding: 65px 40px 40px;
}


.search-query{
	width:100%;
	margin:10px 0px;
}

.gecko_thumbnail  {
	padding: @box-spacing-medium;
	-webkit-box-shadow: @box-shadow;
	-moz-box-shadow: @box-shadow;
	box-shadow: @box-shadow;
	border: 1px solid @basic-gray-dark;
	display: inline-block;
	margin-bottom: 15px;
	margin-right: 15px;
}

.gecko_detail{
	padding: 50px;
}
.gecko-add{
	padding: 0px 10px 15px;
	color:darken(@basic-gray-dark, 15%); 
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}

.gecho-icons{
	float:right;
	padding-right: 10px;
}
.gecho-icons span{
	margin-left: 10px;	
	cursor: pointer;
}

.list-group .active{
	background-color: @brand-success;
	color: white;
}
.list-group .active span{
	color: white;
}

.gecko_detail{
	color:@brand-primary;
}
.gecko-form{
	margin-top:25px;
}
.gecko-form input{
	width:60%;
	min-width:300px;
}
.gecko-form label{
	padding: 10px;
	min-width: 100px;
}
//
// Responsive
// --------------------------------------------------
@media  (min-width: 761px) {
	.sublink {
    	display: block;
    }
    .newlink{
    	display: none!important;
    	
    }
	#subview{
    	display: block;
    }
}
@media  (max-width: 760px) {
	
    .sublink {
    	display: none!important;
    }
    .newlink{
    	display: block;

    }
    #subview{
    	display: none;
    }
	
}
