

<div class="gecko_detail" ng-show="bookView">

  <div class="gecko_thumbnail"><img src="{{book.image}}" alt="{{book.title}}" /></div>
  <div class="">
    <p><b>Title: </b>{{book.title}} </p>
    <p><b>Author: </b>{{book.author}}</p>
    <p><b>Price: </b>{{book.price}}</p>

  </div>


</div>


