<form name="myForm" class="gecko-form">
  <div class="control-group" ng-class="{error: myForm.name.$invalid}">
    <label>Title</label>
    <input type="text" name="title" ng-model="gecko.title" required>
    <span ng-show="myForm.name.$error.required" class="help-inline">
        Required</span>
  </div>
  <div class="control-group" ng-class="{error: myForm.name.$invalid}">
    <label>Author</label>
    <input type="text" name="author" ng-model="gecko.author" required>
    <span ng-show="myForm.name.$error.required" class="help-inline">
        Required</span>
  </div>
 
  <div class="control-group" ng-class="{error: myForm.site.$invalid}">
    <label>Image</label>
    <input type="url" name="image" ng-model="gecko.image" required>
    <span ng-show="myForm.site.$error.required" class="help-inline">
        Required</span>
    <span ng-show="myForm.site.$error.url" class="help-inline">
        Not a URL</span>
  </div>

  <div class="control-group" ng-class="{error: myForm.site.$invalid}">
    <label>Price</label>
    <input type="text" name="price" ng-model="gecko.price" required smart-float>
    <span ng-show="myForm.site.$error.required" class="help-inline">
        Required</span>
    <span ng-show="form.length.$error.float" class="help-inline">
            This is not a valid float number!</span>
  </div>
 
 
  <br>
  <a href="#/" class="btn">Cancel</a>
  <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid"
          class="btn btn-primary">Save</button>
</form>
